body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.perp{
    width: 150px;
}
.card{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #00bbf9;
    border-bottom: 10px solid #fee440;
    color: #111827;
}
.bdot{
   border: 1px blue dotted;
}
